*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;

}
a{
  text-decoration: none;
}
h2{
  color: #090A0C;
}
.card{
  width: 65%;
  height: 300px;
  margin: auto;
  border-bottom: 2px solid orangered;
  background-color: #FFFFFF;
  padding-top: 40px;
}
.card-container{
  padding: 2px 16px;
  color: #737C85;
  #border: 1px solid orangered;
  margin-top: 15px;
  
  
}
i{
  border: 0.9px solid orangered;
  border-radius: 20%;
  padding: 15px;
  font-size: 4rem;
  color: #737C85;
  
}
#container{
    max-width: 960px;
    max-height: 100vh;
    
    display: block;
   # border: 1px solid red;
    
}
#pc{

  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600;
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
}
#android{
  
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600;
  margin: auto;
  background-color: #FFFFFF;
}
#others{
  
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600;
  margin: auto;
  background-color: #FFFFFF;
}

